.avatar-image {
    vertical-align: middle;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

.button-without-style {
    background: none;
	color: inherit;
	border: none;
	padding: 0 !important;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.no-dropdown-caret::after {
    content: none !important;
    border-top: 0 !important;
    border-right: 0 !important;
    border-bottom: 0 !important;
    border-left: 0 !important;
}

.panel-border {
    border: 1px solid rgba(0, 0, 0, 0.125) !important;
}

// Bootstrap
$theme-colors: (
    "background": #F8F8F8,
    "navbar": #FFFFFF,
    "panel": #FFFFFF,
    "detail": #6D48E5
);

.rounded-05 {
    border-radius: 0.5rem !important;
}
.rounded-06 {
    border-radius: 0.6rem !important;
}
.rounded-07 {
    border-radius: 0.7rem !important;
}

@import '~bootstrap/scss/bootstrap';